* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;

}

body {
    font-family: 'Poppins', sans-serif;
}

#gameContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    display: block;
    align-items: center;
    justify-content: center;
}

#bodyContainer {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text horizontally */

}

.player {
    display: flex;
    background-color: rgba(0, 0, 0, 0.438);


}

.player1,
.player2 {
    display: flex;

}

.characterContainer {
    width: 100%;
    height: 100%;
}

.topLeft,
.botLeft {
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text horizontally */
    color: white;
}

.topLeft, .textTop {
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-family: gabriella, sans-serif;
    color: white;

}

.topRight {
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-family: gabriella, sans-serif;
    color: white;

}

.leftContainer1 {
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.leftContainer2 {
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.rightContainer1 {
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.rightContainer2 {
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.profileCard {
    display: flex;
    width: 75px;
    height: 75px;
    background-color: rgba(190, 182, 182, 0.288);
    border-radius: 50%;
    overflow: hidden; /* Ensure the image stays within the circle */
    text-align: center;
    border: 1px solid rgb(70, 67, 67);
}

.profileImage, img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Center the image */
}



.timer {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

}


.container {
    max-width: 1080px;
    width: 90%;
    margin: auto;
}
