* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Istok Web', sans-serif;
    font-family: 'League Spartan', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

#gameContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    display: block;
    align-items: center;
    justify-content: center;
}

#bodyContainer {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text horizontally */
}

.playerOne,
.playerTwo {
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    height: 100px; /* Set desired height */
    width: 25%; /* Each player takes up half of the parent container */
    background-color: #f0f0f0;
    margin: 25px;
}

.topLeft,
.botLeft {
    height: 50%;
}

.leftContainer,
.rightContainer {
    flex: 1;
    /* padding: 15px; */
    box-sizing: border-box;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightContainer {
    justify-content: center;
    align-items: center;
}

.profileCard {
    width: 75px;
    height: 75px;
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 2px solid #dd2436;
    overflow: hidden; /* Ensure the image stays within the circle */
    text-align: center;
}

.profileImage {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Center the image */
    display: block;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #dd2436;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    max-width: 1080px;
    width: 90%;
    margin: auto;
}
