.footer {
  margin-top: 50px;
    display: flex;
    justify-content: center;
}

#reset {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dd2436;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .restartButton:hover {
    background-color: #dd2436;
  }

  .restartButton:focus {
    outline: none;
  }
